header {
  margin: 0;
  padding: 0;
}

.navbar-custom {
  background-color: #af5b1f;
}

.navbar a:hover {
  color: #ffffff;
}

.hero {
  position: relative;
  /* ajusta si necesario */
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-inicio {
  background-image: url("images/img_inicio.jpg");
}

.hero-catalogo {
  background-image: url("images/img_productos.jpg");
}

.hero-blog {
  background-image: url("images/img_blog.jpg");
}

.hero-contacto {
  background-image: url("images/img_contacto.jpg");
}

/* OVERLAY OSCURO */
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

/* CONTENIDO ENCIMA */
.contenido {
  position: relative;
  z-index: 1;
}

/* TEXTO HERO */
.contenido h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.contenido p {
  font-size: 1.5rem;
}

.nav-pills .nav-link:hover {
  background-color: #af5b1f;
  color: azure;
}